[user]
        name = Matt Fox
        email = matt@tansen.ca
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
        ui = true
[core]
        editor = vim
